*.pyc  
*~  
__pycache__  
myvenv  
db.sqlite3  
/static  
.DS_Store 
*.py 
noteforme.md
/node_modules
src/img/school2.jpeg
src/img/school1.jpeg
src/img/img1.jpeg
src/img/coursel-2.jpg
src/img/img1.jpeg
src/img/school1.jpeg
